#cata{
color: red

}
button{
    margin: 10px;
    


}

img {  
    width:350px;
    height:250px ;
    margin: 20px;
    /* overflow: hidden;  */
    margin-bottom: 0px;
    display: inline-block;

  }
  
  img {
    transition: 0.3s;

  }
  
  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .divImg span{
    display: block;
    text-align: center;
  }
  